<router-outlet />
<h1 class="text-brand-10">Test</h1>

<div class="flex flex-col">
  <div class="flex">
    <div class="p-2 bg-brand-1">1</div>
    <div class="p-2 bg-brand-2">2</div>
    <div class="p-2 bg-brand-3">3</div>
    <div class="p-2 bg-brand-4">4</div>
    <div class="p-2 bg-brand-5">5</div>
    <div class="p-2 bg-brand-6">6</div>
    <div class="p-2 bg-brand-7">7</div>
    <div class="p-2 bg-brand-8">8</div>
    <div class="p-2 bg-brand-9">9</div>
    <div class="p-2 bg-brand-10">10</div>
    <div class="p-2 bg-brand-11">11</div>
    <div class="p-2 bg-brand-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-accent-1">1</div>
    <div class="p-2 bg-accent-2">2</div>
    <div class="p-2 bg-accent-3">3</div>
    <div class="p-2 bg-accent-4">4</div>
    <div class="p-2 bg-accent-5">5</div>
    <div class="p-2 bg-accent-6">6</div>
    <div class="p-2 bg-accent-7">7</div>
    <div class="p-2 bg-accent-8">8</div>
    <div class="p-2 bg-accent-9">9</div>
    <div class="p-2 bg-accent-10">10</div>
    <div class="p-2 bg-accent-11">11</div>
    <div class="p-2 bg-accent-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-primary-1">1</div>
    <div class="p-2 bg-primary-2">2</div>
    <div class="p-2 bg-primary-3">3</div>
    <div class="p-2 bg-primary-4">4</div>
    <div class="p-2 bg-primary-5">5</div>
    <div class="p-2 bg-primary-6">6</div>
    <div class="p-2 bg-primary-7">7</div>
    <div class="p-2 bg-primary-8">8</div>
    <div class="p-2 bg-primary-9">9</div>
    <div class="p-2 bg-primary-10">10</div>
    <div class="p-2 bg-primary-11">11</div>
    <div class="p-2 bg-primary-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-info-1">1</div>
    <div class="p-2 bg-info-2">2</div>
    <div class="p-2 bg-info-3">3</div>
    <div class="p-2 bg-info-4">4</div>
    <div class="p-2 bg-info-5">5</div>
    <div class="p-2 bg-info-6">6</div>
    <div class="p-2 bg-info-7">7</div>
    <div class="p-2 bg-info-8">8</div>
    <div class="p-2 bg-info-9">9</div>
    <div class="p-2 bg-info-10">10</div>
    <div class="p-2 bg-info-11">11</div>
    <div class="p-2 bg-info-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-success-1">1</div>
    <div class="p-2 bg-success-2">2</div>
    <div class="p-2 bg-success-3">3</div>
    <div class="p-2 bg-success-4">4</div>
    <div class="p-2 bg-success-5">5</div>
    <div class="p-2 bg-success-6">6</div>
    <div class="p-2 bg-success-7">7</div>
    <div class="p-2 bg-success-8">8</div>
    <div class="p-2 bg-success-9">9</div>
    <div class="p-2 bg-success-10">10</div>
    <div class="p-2 bg-success-11">11</div>
    <div class="p-2 bg-success-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-warning-1">1</div>
    <div class="p-2 bg-warning-2">2</div>
    <div class="p-2 bg-warning-3">3</div>
    <div class="p-2 bg-warning-4">4</div>
    <div class="p-2 bg-warning-5">5</div>
    <div class="p-2 bg-warning-6">6</div>
    <div class="p-2 bg-warning-7">7</div>
    <div class="p-2 bg-warning-8">8</div>
    <div class="p-2 bg-warning-9">9</div>
    <div class="p-2 bg-warning-10">10</div>
    <div class="p-2 bg-warning-11">11</div>
    <div class="p-2 bg-warning-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-danger-1">1</div>
    <div class="p-2 bg-danger-2">2</div>
    <div class="p-2 bg-danger-3">3</div>
    <div class="p-2 bg-danger-4">4</div>
    <div class="p-2 bg-danger-5">5</div>
    <div class="p-2 bg-danger-6">6</div>
    <div class="p-2 bg-danger-7">7</div>
    <div class="p-2 bg-danger-8">8</div>
    <div class="p-2 bg-danger-9">9</div>
    <div class="p-2 bg-danger-10">10</div>
    <div class="p-2 bg-danger-11">11</div>
    <div class="p-2 bg-danger-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-brandDark-1">1</div>
    <div class="p-2 bg-brandDark-2">2</div>
    <div class="p-2 bg-brandDark-3">3</div>
    <div class="p-2 bg-brandDark-4">4</div>
    <div class="p-2 bg-brandDark-5">5</div>
    <div class="p-2 bg-brandDark-6">6</div>
    <div class="p-2 bg-brandDark-7">7</div>
    <div class="p-2 bg-brandDark-8">8</div>
    <div class="p-2 bg-brandDark-9">9</div>
    <div class="p-2 bg-brandDark-10">10</div>
    <div class="p-2 bg-brandDark-11">11</div>
    <div class="p-2 bg-brandDark-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-accentDark-1">1</div>
    <div class="p-2 bg-accentDark-2">2</div>
    <div class="p-2 bg-accentDark-3">3</div>
    <div class="p-2 bg-accentDark-4">4</div>
    <div class="p-2 bg-accentDark-5">5</div>
    <div class="p-2 bg-accentDark-6">6</div>
    <div class="p-2 bg-accentDark-7">7</div>
    <div class="p-2 bg-accentDark-8">8</div>
    <div class="p-2 bg-accentDark-9">9</div>
    <div class="p-2 bg-accentDark-10">10</div>
    <div class="p-2 bg-accentDark-11">11</div>
    <div class="p-2 bg-accentDark-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-primaryDark-1">1</div>
    <div class="p-2 bg-primaryDark-2">2</div>
    <div class="p-2 bg-primaryDark-3">3</div>
    <div class="p-2 bg-primaryDark-4">4</div>
    <div class="p-2 bg-primaryDark-5">5</div>
    <div class="p-2 bg-primaryDark-6">6</div>
    <div class="p-2 bg-primaryDark-7">7</div>
    <div class="p-2 bg-primaryDark-8">8</div>
    <div class="p-2 bg-primaryDark-9">9</div>
    <div class="p-2 bg-primaryDark-10">10</div>
    <div class="p-2 bg-primaryDark-11">11</div>
    <div class="p-2 bg-primaryDark-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-infoDark-1">1</div>
    <div class="p-2 bg-infoDark-2">2</div>
    <div class="p-2 bg-infoDark-3">3</div>
    <div class="p-2 bg-infoDark-4">4</div>
    <div class="p-2 bg-infoDark-5">5</div>
    <div class="p-2 bg-infoDark-6">6</div>
    <div class="p-2 bg-infoDark-7">7</div>
    <div class="p-2 bg-infoDark-8">8</div>
    <div class="p-2 bg-infoDark-9">9</div>
    <div class="p-2 bg-infoDark-10">10</div>
    <div class="p-2 bg-infoDark-11">11</div>
    <div class="p-2 bg-infoDark-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-successDark-1">1</div>
    <div class="p-2 bg-successDark-2">2</div>
    <div class="p-2 bg-successDark-3">3</div>
    <div class="p-2 bg-successDark-4">4</div>
    <div class="p-2 bg-successDark-5">5</div>
    <div class="p-2 bg-successDark-6">6</div>
    <div class="p-2 bg-successDark-7">7</div>
    <div class="p-2 bg-successDark-8">8</div>
    <div class="p-2 bg-successDark-9">9</div>
    <div class="p-2 bg-successDark-10">10</div>
    <div class="p-2 bg-successDark-11">11</div>
    <div class="p-2 bg-successDark-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-warningDark-1">1</div>
    <div class="p-2 bg-warningDark-2">2</div>
    <div class="p-2 bg-warningDark-3">3</div>
    <div class="p-2 bg-warningDark-4">4</div>
    <div class="p-2 bg-warningDark-5">5</div>
    <div class="p-2 bg-warningDark-6">6</div>
    <div class="p-2 bg-warningDark-7">7</div>
    <div class="p-2 bg-warningDark-8">8</div>
    <div class="p-2 bg-warningDark-9">9</div>
    <div class="p-2 bg-warningDark-10">10</div>
    <div class="p-2 bg-warningDark-11">11</div>
    <div class="p-2 bg-warningDark-12">12</div>
  </div>
  <div class="flex">
    <div class="p-2 bg-dangerDark-1">1</div>
    <div class="p-2 bg-dangerDark-2">2</div>
    <div class="p-2 bg-dangerDark-3">3</div>
    <div class="p-2 bg-dangerDark-4">4</div>
    <div class="p-2 bg-dangerDark-5">5</div>
    <div class="p-2 bg-dangerDark-6">6</div>
    <div class="p-2 bg-dangerDark-7">7</div>
    <div class="p-2 bg-dangerDark-8">8</div>
    <div class="p-2 bg-dangerDark-9">9</div>
    <div class="p-2 bg-dangerDark-10">10</div>
    <div class="p-2 bg-dangerDark-11">11</div>
    <div class="p-2 bg-dangerDark-12">12</div>
  </div>
</div>
