<div
  class="p-2 border-brand-8 border-[3px] flex flex-wrap gap-2 example-list widgets"
  cdkDropList
  [cdkDropListOrientation]="'horizontal'"
  (cdkDropListDropped)="drop($event)"
>
  <ng-container
    *ngFor="let widget of widgets; index as i; trackBy: widgetTrackBy"
  >
    <!-- cdkDragBoundary=".widgets" -->
    <app-widget
      cdkDrag
      [enableDrag]="letSubDrag"
      [widget]="widget"
      class="example-box"
      (cdkDragStarted)="handleDragStart($event)"
      (cdkDragEnded)="handleDragEnd($event)"
    >
    </app-widget>
  </ng-container>
</div>
