<div class="flex w-full">
  <!-- [cdkDropListOrientation]="'horizontal'" -->
  <div
    class="flex flex-col h-dvh overflow-y-scroll min-w-[20rem] gap-2 p-3"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    Editor tree
    <ng-container
      *ngFor="let widget of widgets; index as i; trackBy: widgetTrackBy"
    >
      <!-- cdkDragBoundary=".widgets" -->
      <app-widget
        cdkDrag
        [enableDrag]="letSubDrag"
        [widget]="widget"
        class="example-box w-full"
        (cdkDragStarted)="handleDragStart($event)"
        (cdkDragEnded)="handleDragEnd($event)"
      >
      </app-widget>
    </ng-container>
  </div>
  <div
    class="p-2 flex-grow-1 w-full border-brand-8 border-[3px] flex flex-wrap gap-2 example-list widgets"
  >
    <ng-container
      *ngFor="let widget of widgets; index as i; trackBy: widgetTrackBy"
    >
      <!-- cdkDragBoundary=".widgets" -->
      <app-widget [enableDrag]="false" [widget]="widget"> </app-widget>
    </ng-container>
  </div>
</div>
