<ng-container *ngIf="enableDrag">
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [class]="'bg-' + widget.name"
    class="p-2 flex flex-col gap-2 border-accent-8 border-[3px] example-list widget w-full"
  >
    <strong class="font-bold">{{ widget.name }}</strong>
    <ng-container *ngFor="let item of widget.items; index as i">
      <app-item
        [item]="item"
        cdkDragBoundary=".widget"
        cdkDrag
        class="example-box"
      ></app-item>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!enableDrag">
  <div
    [class]="'bg-' + widget.name"
    class="p-2 flex flex-col gap-2 border-brand-10 border-[3px] min-w-[30rem] example-list widget"
  >
    <strong class=""> {{ widget.name }}</strong>
    <ng-container *ngFor="let item of widget.items; index as i">
      <!-- cdkDrag -->
      <app-item [item]="item"></app-item>
    </ng-container>
  </div>
</ng-container>
